.button{
    background-color:$pink;
    color: $white;
    padding: 5px 12px;
    border-style: none;
    margin-top: 10px;
    font-family: $lato;
    margin-right: 10px;

}

.button2{
    background-color:$aqua !important ;
    font-family: $lato;
   
}