.texto_profile{
    font-family:$lato ;
    font-weight: $bold;
    font-size: $x-large;
    margin-left: 30px;
    margin-top: 15px;
    
   

}

.texto_profile2{
    font-family:$lato ;
    font-size: $medium;
    color: $granitegray;
    margin-left: 30px;
    margin-top: 5px;
    
   
}